*.pyc
.project
.pydevproject
.settings
.vagrant
media/
!static/js/tinymce/plugins/media/
public/
local_settings.py
.idea/
index/
mydata.db
.DS_Store
*.ipynb
.ipynb*
*.sql*
.pem*
.pem
*.pem
*.log
*.jshintrc
test_db
.venv
*.sublime-*
*.todo
.sass-cache
.env
/logs/
.evar
.ropeproject
log.txt
.venv
/moni_modules.py
docker/datadir
wsgi.py
statistics/*.csv
wks.py
**/settings/local.py
/env
/moni/
error_messages-*
last_user-*
.cache
tags
tags.lock
tags.tmp
venv/
celerybeat-schedule
celerybeat.pid
geoipdb/
libs/nat/datos/*
.coverage
htmlcov/
output.txt
tags.temp

\.env27/

\.env35/
docs/build/
docker-compose.override.yml
